<html>
 <head>
   <title>Register Form Design</title>
 </head>
 <body>
    <div class="One">
        <h1> Regsister here</h1>

        <form method="POST" action="/register">

            <p>Name</p>
            <input type="text" name="uname1" placeholder="Enter Name" required="">

            <p>Email</p>
            <input type="Email" name="email" placeholder="Enter email id" required="">

            <p>Password</p>
            <input type="password" name="upswd1" placeholder="Enter Password" required="">

            <p>Retype Password</p>
            <input type="password" name="upswd2" placeholder="Re-Enter Password" required="">

            <input type="submit" name="" value="Register">

            <br><br>
            <Span>Existing User?</Span> <button class="btn login" (click)="onLogin()">Log In</button>
        </form>
        

    </div>
 </body>

</html>