html,


body {
  margin: 0;
  background:#fafafa;
  z-index:-1;
  position:relative;
}

/* .container {
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
} */

p {
    margin-left: 3%;
    font-size: 25px;
    font-weight: 600;
}

a {
    margin-left: 3%;
    padding-top: 2%;
}

span {
    font-weight: lighter;
    padding-right: 2%;
    float: right;
}

.buy-button {
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    text-align: right;
}

button {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 0 0 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 17px;
}
  
button:hover {
    background-color: #3c8c40;
}

.shadow-1:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
}

/* .shadow-1:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.shadow-2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
}

.shadow-2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.shadow-3:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.12);
}

.shadow-3:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

.shadow-4:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.11);
}

.shadow-4:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.11);
}

.shadow-5:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.1);
}

.shadow-5:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.11);
} */

.card {
  position: relative;
  height: auto;
  background: #fcfcfc;
  margin: 20px 40px;
  transition: 0.4s all;
  font-family: arial;
  padding-bottom: 15px;
}

.card.open {
  height: auto;
  background: #ffffff;
}

@media only screen and (min-width: 600px) {
  .card {
  width:500px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  .card {
    margin: 12px 10px;
  }
}

.register {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 5px;
}

.register:hover {
  background-color: #3c8c40;
}

.login {
  background-color: white;
  color: #4caf50;
}

.login:hover {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 5px;
}

