<app-navbar></app-navbar>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<router-outlet></router-outlet>

<footer>
    <div class="footer">
            <h2>REVALUE</h2>
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">PRIVACT POLICY</a></li>
            </ul>
            <h4>follow us</h4>
            
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                 <a href="#"><i class="fab fa-twitter"></i></a>
                 <a href="#"><i class="fab fa-instagram"></i></a>
                 <a href="#"><i class="fab fa-linkedin-in"></i></a>
                 
    </div>
    
</footer>