.footer {
    color: black;
    position:static;
    bottom:0;
    width:100%;
    height:80px;
}


h2{
    Color: green;
    position: absolute;
}

ul{
    color: green;
    padding-left: 200px;
    padding-top: 20px;
}

ul li a{
    color: whitesmoke;
    position: relative;
    
}

h4{
    color: green;
    display: flex;
}
