<div class="About">
   <h1>ABOUT US</h1>

   <p>The <Span>Revalue</Span> is an e-commerce website where the user can post about the product what they want to sell, it is like a platform where the used product can be sold to other users. The users can have their login in the website they can use the register page for the first-time login and they can use the login page once they are registered with the website. The website doesn’t allow the users to directly purchase the product they can contact the seller who is posting the product details by clicking the option provided contact on the home page of the product listing. This will help the user to directly contact the seller where the fraud transaction and fake post can be minimized.</p>
   
</div>